.button{
	-fx-font-size: 50px;
  	-fx-font-weight: bold;
 	-fx-text-fill: #800000;
 	-fx-border-color: #000000;
	-fx-border-width: 1px;
	-fx-border-style: solid;
}


#button2{
	-fx-font-size: 15px; 
	-fx-font-weight: bold;
	-fx-text-fill: black;
	-fx-background-color: white;
}
#button3{
	-fx-font-size: 15px; 
	-fx-font-weight: bold;
	-fx-text-fill: Green;
	-fx-background-color: White;
	-fx-border-color: black;
}



#label{
	-fx-font-size: 18px; 
	-fx-font-weight: bold;
}
